<div class="row">
    <h1>Proyectos realizados</h1>
    <!--Botones de prueba-->
    <!--
    <button class="btn btn-black" routerLink="/editedu/5">
        <i class="bi bi-pencil-fill" id="lapiz"></i></button>
        <button class="btn btn-black" routerLink="/deletedu/5">
          <i class="bi bi-trash3-fill" id="lapiz"></i></button>
          -->
    <div class="contenedor">
        <div>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <!--Trabajo  uno 1975 a pedido Gustavo Caraballo ascesor presidencial y padrino ..-->
                <h2>Cafe Avenida Vte. Lopez.</h2>
                <p> Sistema facturacián, control Stock, emisión comandas, ticket y facturas. </p>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/cafeteria 300x300px.jpg" class="img-fluid img-proyecto" alt="cafe">
            </div>
        </div>
        <div><br>
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <!-- trabajo Dos -->
                <h2>Bar Store. Avellaneda.</h2>
                <p> Sistema facturacián, control empleados, ,Ticket. código QR para cobrar . </p>
            </div><br>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="../../../assets/cafeteria 300x300px2.jpg" class="img-fluid img-proyecto" alt="Bar">
            </div>
            <div><br>
                <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                    <!-- trabajo Tres el Bar Store de Don Quique. -->
                    <h2>Bar Store. Avellaneda.</h2>
                    <p> Sistema facturacián, control empleados, ,Ticket. código QR para cobrar . </p>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                    <img src="../../../assets/cafeteria 300x300px3.jpg" class="img-fluid img-proyecto" alt="Bar">
                </div>
                <div><br>
                    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                        <!-- trabajo cuatro trabajo a pedido de Adidas. -->
                        <h2>Bar Store. Avellaneda.</h2>
                        <p> Sistema facturacián, control empleados, ,Ticket. código QR para cobrar . </p>
                    </div>
                    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                        <img src="../../../assets/cafeteriaBar.jpg" class="img-fluid img-proyecto" alt="Bar">
                    </div>
                    <div><br>
                        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                            <!-- trabajo cinco, encargado por Don Ingratta Jose -->
                            <h2>Bar Store. Avellaneda.</h2>
                            <p> Sistema facturacián, control empleados, ,Ticket. código QR para cobrar . </p>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                            <img src="../../../assets/FerreteriaElLaucha.jpg" class="img-fluid img-proyecto" alt="Bar">
                        </div>
                        <div><br>
                            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                                <!-- trabajo seis, a pedido del Director sistemas Municipio Coco Paz.-->
                                <h2>Bar Store. Avellaneda.</h2>
                                <p> Sistema facturacián, control empleados, ,Ticket. código QR para cobrar . </p>
                            </div>
                            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                                <img src="../../../assets/ferreteriaEdemar.jpg" class="img-fluid img-proyecto" alt="Bar">
                            </div>
                        </div>
                    </div>
                </div>