<!--section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Por favor, ingresar usuario y clave</p>

                            <form f="ngForm" (isLogged)="login()" novalidate>
                                                                                                                                                                                                                                                                                                <!-- Formulario Label class form-label for Nombreusuario Usuario</label>-->
<!--div class="form-outline form-white mb-4">
                                    <input type="email" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" required />
                                    <label class="form-label" for="nombreUsuario">Usuario</label>
                                </div>
                                                                                                                                                                                                                                                                                                <!--Formulario label class para contraseña. form-label for password>Password>-->
<!--div class="form-outline form-white mb-4">
                                    <input type="password" id="password" name="password" class="form-control form-control-lg" [(ngModel)]="password" required />
                                    <label class="form-label" for="password">Password</label>
                                </div>
                                <!--************************************** boton login-->
<!--div class="login">
                                    <form class="custom-form" method="post">
                                        <h1>Login</h1>
                                        <!--input type="email" [(ngModel)]="Email" name="email" placeholder="Email" required="required" /--
                                        <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required="required" />
                                        <button type="submit" (click)="login()">Log in</button>
                                    </form--
                                </div-->
<!--************************************************--BORRADO POR SUPERPOSICION EN FORMULARIO
                                <div class="form-check mb-3">
                                    <label id="_label" for="" class="required"></label>
                                    <textarea id="" name="" rows="5" class="form-control"></textarea>
                                </div--

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
                                <!-- Ejemplo button boostrap-- BORRADO

                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>
                                <button type="submit" (click)="login()">Log in</button>

                            </form--
                                                                <form>
                                                                    <!-- Email input -->
<!--div class="form-outline mb-4">
                                    <input type="email" id="form2Example1" class="form-control" />
                                    <label class="form-label" for="form2Example1">Email direccion</label>
                                </div-->

<!-- Password input --
                                <div class="form-outline mb-4">
                                    <input type="password" id="form2Example2" class="form-control" />
                                    <label class="form-label" for="form2Example2">Contraseña</label>
                                </div-->

<!-- 2 column grid layout for inline styling --
                                                                    <div class="row mb-4"></div>
                                                                    <div class="col d-flex justify-content-center">
                                                                        <!-- Checkbox --
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                                                                            <label class="form-check-label" for="form2Example31"> no recuerdo la clave..!!! </label>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col">
                                                                        <!-- Simple link --
                                                                        <a href="#!">Olvidaste la contraseña...?</a>
                                                                    </div>


                                                                    <!-- Submit button --
                                                                    <button type="button" class="btn btn-primary btn-block mb-4">Ingresar</button>

                                                                    <!-- Register buttons --
                                                                    <div class="text-center">
                                                                        <!--p>No tienes registro? <a href="#!">Registrate...aquí..</a></p>
                                    <p>puedes registrarte con:</p>
                                    <button type="button" class="btn btn-link btn-floating mx-1" title="a">
                                    <i class="fab fa-facebook-f"></i-->
<!--/button-->

<!--button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                  </button--

                                                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                  </button>

                                                                        <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                  </button>
                                                                    </div>
                                                                </form-->


<!--/div--****************************--

                    <div>
                        <p class="mb-0">¿No tienes una cuenta? <a href="#!" class="text-white-50 fw-bold">Inscribete aquí..</a>
                        </p>
                    </div>

            <!--/div-->
<!--/div-->
<!--section--
            <section class="vh-100 gradient-custom">
                <div class="container py-5 h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                            <div class="card bg-dark text-white" style="border-radius: 1rem;">
                                <div class="card-body p-5 text-center">

                                    <div class="mb-md-5 mt-md-4 pb-5">

                                        <h2 class="fw-bold mb-2 text-uppercase">Iniciar sesión</h2>
                                        <p class="text-white-50 mb-5">Favor entre su Email y su Clave.!</p>

                                        <div class="form-outline form-white mb-4">
                                            <input type="email" id="typeEmailX" class="form-control form-control-lg" />
                                            <label class="form-label" for="typeEmailX">Email</label>
                                        </div>

                                        <div class="form-outline form-white mb-4">
                                            <input type="password" id="typePasswordX" class="form-control form-control-lg" />
                                            <label class="form-label" for="typePasswordX">Password</label>
                                        </div>

                                        <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="../registro/./././../../service/auth.service.ts">Olvidaste tu contraseña?</a></p>

                                        <button class="btn btn-outline-light btn-lg px-5" type="submit">Login</button>

                                        <div class="d-flex justify-content-center text-center mt-4 pt-1">
                                            <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                                            <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                                            <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                                        </div>

                                    </div>

                                    <div>
                                        <p class="mb-0">No tienes una cuenta..? <a href="../../service/auth.service.ts" class="text-white-50 fw-bold">registrarte</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <style>
                .gradient-custom {
                    /* fallback for old browsers */
                    background: #6a11cb;
                    /* Chrome 10-25, Safari 5.1-6 */
                    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
                    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
                }
            </style>
            <!-- Pills navs --
            <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab" aria-controls="pills-register" aria-selected="false">Register</a>
                </li>
            </ul>
            <!-- Pills navs -->

<!-- Pills content --
        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                <form>
                    <div class="text-center mb-3">
                        <p>Sign in with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
                    </div>

                    <p class="text-center">or:</p>

                    <!-- Email input --
                    <div class="form-outline mb-4">
                        <input type="email" id="loginName" class="form-control" />
                        <label class="form-label" for="loginName">Email or username</label>
                    </div>

                    <!-- Password input --
                    <div class="form-outline mb-4">
                        <input type="password" id="loginPassword" class="form-control" />
                        <label class="form-label" for="loginPassword">Password</label>
                    </div>

                    <!-- 2 column grid layout --
                    <div class="row mb-4">
                        <div class="col-md-6 d-flex justify-content-center">
                            <!-- Checkbox --
                            <div class="form-check mb-3 mb-md-0">
                                <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                                <label class="form-check-label" for="loginCheck"> Remember me </label>
                            </div>
                        </div>

                        <div class="col-md-6 d-flex justify-content-center">
                            <!-- Simple link --
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Submit button --
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

                    <!-- Register buttons --
                    <div class="text-center">
                        <p>Not a member? <a href="#!">Register</a></p>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                <form>
                    <div class="text-center mb-3">
                        <p>Sign up with:</p>
                        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-facebook-f"></i>
        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-google"></i>
        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-twitter"></i>
        </button>

                        <button type="button" class="btn btn-link btn-floating mx-1">
          <i class="fab fa-github"></i>
        </button>
                    </div>

                    <p class="text-center">or:</p>

                    <!-- Name input --
                    <div class="form-outline mb-4">
                        <input type="text" id="registerName" class="form-control" />
                        <label class="form-label" for="registerName">Name</label>
                    </div>

                    <!-- Username input --
                    <div class="form-outline mb-4">
                        <input type="text" id="registerUsername" class="form-control" />
                        <label class="form-label" for="registerUsername">Username</label>
                    </div>

                    <!-- Email input --
                    <div class="form-outline mb-4">
                        <input type="email" id="registerEmail" class="form-control" />
                        <label class="form-label" for="registerEmail">Email</label>
                    </div>

                    <!-- Password input --
                    <div class="form-outline mb-4">
                        <input type="password" id="registerPassword" class="form-control" />
                        <label class="form-label" for="registerPassword">Password</label>
                    </div>

                    <!-- Repeat Password input --
                    <div class="form-outline mb-4">
                        <input type="password" id="registerRepeatPassword" class="form-control" />
                        <label class="form-label" for="registerRepeatPassword">Repeat password</label>
                    </div>

                    <!-- Checkbox --
                    <div class="form-check d-flex justify-content-center mb-4">
                        <input class="form-check-input me-2" type="checkbox" value="" id="registerCheck" checked aria-describedby="registerCheckHelpText" />
                        <label class="form-check-label" for="registerCheck">
          I have read and agree to the terms
        </label>
                    </div>

                    <Submit button>

                        <button type="submit" class="btn btn-primary btn-block mb-3">Sign in</button>
                </form>
            </div>
        </div>
        <!--Pills content>
<!------ Include the above in your HEAD tag ---------->
<!--------------------------------------------------------------------------------------------------->
<!--div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Titulos --

        <!-- Iconos del proyecto --
        <div class="fadeIn first">
            <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />
        </div>

        <!-- Formulario del Login  --
        <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login"  [(ngModel)]="nombreUsuario">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password"  [(ngModel)]="password">
            <button type="submit" (click)="login()">Log in</button>
        </form>

        <!-- Recordar el  Passowrd --
        <div id="formFooter">
            <a class="underlineHover" href="././.">Forgot Password?</a>
        </div>

    </div>
</!div-->
<!--*******************************-->
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Acceso</h2>
                            <p class="text-white-50 mb-5">Por favor, ingresar usuario y clave</p>

                            <form #f="ngForm" novalidate>

                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="nombreUsuario" name="nombreUsuario"
                                        class="form-control form-control-lg" [(ngModel)]="nombreUsuario" required />
                                    <label class="form-label" for="nombreUsuario">Usuario</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="password" name="password"
                                        class="form-control form-control-lg" [(ngModel)]="password" required />
                                    <label class="form-label" for="password">Contraseña</label>
                                </div>

                                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Olvidaste tu
                                        contraseña?</a></p>

                                <button class="btn btn-outline-light btn-lg px-5" type="submit"
                                    (click)="login()">Entrar</button>
                                <p></p>
                                <div>
                                    <button class="btn btn-outline-light" type="submit"
                                    (click)="registrar()">Registrar</button>
                                </div>

                            </form>

                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>